
@{
    ViewData["Title"] = "Privacy Policy";
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DOMA GAMES</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/css/Content/navbar.css" rel="stylesheet" />
    <link href="~/css/Content/buttonGlow.css" rel="stylesheet" />
    <link href="~/css/Content/borderstyles.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
</head>


<div class="center">
    <h1 style="color:white;">@ViewData["Title"]</h1>
    <p style="color:white;">Use this page to detail your site's privacy policy. </p>
</div>




