
@{
    ViewData["Title"] = "LandOnGreenHowToPlay";
}

<h1 style="font-family: Consolas; color: limegreen;" class="center"> Land On Green Game Instructions</h1>
    <p style="font-family: Consolas; font-size:22px; color: white;">
        In "Land On Green" we have 3 main elements. <br />
        1. The Ball (which have the magnifficent name Ballie and will be referenced as such from now on); <br />
        2. The tiles; <br />
        3. The obstacles; <br />

        <div style="clear: left">
<p style="float: left; padding-right: 20px;">
    <img style="width: 700px; height: auto;" src="~/css/Content/GAMES/Land On Green/GameScreen01_3700x1920.png" />
    S
</p>
<p style=" margin-left: 15px; color: white; font-family: Consolas; font-size:22px; text-align:left;">
    1. Ballie: <br />
    Ballie is a ball with character. He likes to changes suits and you can find his new suits 
    the so called "skins" in Main Menu -> Shop. There you can obtained your gained points for skins. 
    Yes, your points are the ingame currency here. 
</p>
<p style=" margin-left: 15px; color: white; font-family: Consolas; font-size:22px; text-align:left;">
    Ballie is affected from the gravity, so he starts to fall when the game starts. In order to keep him in the air 
    you need to tap the screen. (Where is this familiar from?...)
</p>

<p style="float: left; padding-right: 20px;">
    <img style="width: 700px; height: auto;" src="~/css/Content/GAMES/Land On Green/Shop_01_3840x1920.jpg" />
</p>

<p style=" margin-left: 15px; color: white; font-family: Consolas; font-size:22px; text-align:left;">
    We hope that you would like and enjoy the hand drawn
    graphics. We actully have put a lot of effort into drawing
    this graphics. One thing is sure, we will strive to do better next time.
</p>
<p>



</p>
  </div>
