
@{
    ViewData["Title"] = "LandOnGreen";
}

<h1 style="color:greenyellow">LandOnGreen</h1>

<p style="font-family: Consolas; font-size:22px; color: white;">
    Land On Green is the very first game produced and released from
    DOMA Games Studio. It went through several theme updates.

    <div style="clear: left">
        <p style="float: left; padding-right: 20px;">
            <img style="width: 700px; height: auto;" src="~/css/Content/GAMES/Land On Green/GameScreen01_3700x1920.png" />
            S
        </p>
        <p style=" margin-left: 15px; color: white; font-family: Consolas; font-size:22px; text-align:left;">
            Eventually we decided to settle for space themed game
            and even added short funny video when you reach the end of the tiles.
        </p>
        <p style=" margin-left: 15px; color: white; font-family: Consolas; font-size:22px; text-align:left;">
            Inside the game we have installed a shop where you can spend all
            points that you have collected while playing Land OnGreen.
        </p>

        <p style="float: left; padding-right: 20px;">
            <img style="width: 700px; height: auto;" src="~/css/Content/GAMES/Land On Green/Shop_01_3840x1920.jpg" />
        </p>

        <p style=" margin-left: 15px; color: white; font-family: Consolas; font-size:22px; text-align:left;">
            We hope that you would like and enjoy the hand drawn
            graphics. We actully have put a lot of effort into drawing 
            this graphics. One thing is sure, we will strive to do better next time.
        </p>
        <p>



        </p>
  </div>




<div style="margin-left: 250px; margin-bottom: 235px; margin-top: 55px;">
    <p>
        <button class="glow-on-hoverrrr" style="position: center; font-size: 33px; font-family:Consolas" target="_blank"
                onclick="location.href='https://play.google.com/store/apps/details?id=com.OMA.LandOnGreen'">
            DOWNLOAD
        </button>
    </p>


</div>


