
@{
    ViewData["Title"] = "MemoryInventory";
}


<h1 style="color:gold">Memory Inventory</h1>

<p style="font-family: Consolas; font-size:22px; color: white;">
    It is proven that with age human brain starts to work at slower pace.
    That means that the amount of information that you can absorb becomes less and less.
    There are a number of ways to improve the functions of your brain. Learning new things every
    now and then is excellent way to keep your brain in shape. Also playing games that make
    you to use logic in solving problems is also a small, but good step in this direction.
    This is why Memory Inventory was build.

    <div style="clear: left">
<p style="float: left; padding-right: 20px;">
    <img style="width:200px; height: auto;" src="~/css/Content/GAMES/Memory Inventory/screenshot_20201126-191228_memoryinventory.jpg" />
</p>
<p style=" margin-left: 15px; color: white; font-family: Consolas; font-size:22px; text-align:left;">
    Memory Inventory is non pretentious application. It is simple easy to play game.
    The gameplay escapes from over stuffing buttons and abilities so you can concentrate on
    solving the puzzles.
</p>
<p style=" margin-left: 15px; color: white; font-family: Consolas; font-size:22px; text-align:left;">
    With four different kinds of grids and with three levels of
    difficulty you can choose from up to 12 levels in which to find the matching pairs.

    Enjoy the hand drawn graphics. With three different styles of card backs you
    can enjoy the game even more.
</p>
    </div>
<div style="margin-left: 345px; margin-bottom: 235px; margin-top: 55px;">
    <p>
        <button class="glow-on-hoverrrr" style="position: center; font-size: 33px; font-family:Consolas" target="_blank"
                onclick="location.href='https://play.google.com/store/apps/details?id=com.DOMAGamesStudio.MemoryInventory'"> DOWNLOAD </button>
    </p>
</div>

